<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001793926988-ofgjfqptf886jdvvbbsfnms7hgmbudfc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001793926988-ofgjfqptf886jdvvbbsfnms7hgmbudfc</string>
	<key>API_KEY</key>
	<string>AIzaSyCe-egrecM5IYSk-dMMJAvxyc9RpA0PvSc</string>
	<key>GCM_SENDER_ID</key>
	<string>1001793926988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mssmPersonalFinance</string>
	<key>PROJECT_ID</key>
	<string>mssm-personal-finance</string>
	<key>STORAGE_BUCKET</key>
	<string>mssm-personal-finance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001793926988:ios:2831e25b66a3fde8f1c1e9</string>
</dict>
</plist>